.vertex-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #efefef;
}

.vertex-label {
  font-size: .5em;
  word-wrap: normal;
}

.main-panel {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.main-panel button {
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: 0.7em;
  text-align: right;
  background-color: rgb(220, 220, 220);
}

.main-panel button.run-icon {
  background-color: #b7ecb2;
}

.main-panel button svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.node-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.node-toolbar h4:hover {
  cursor: pointer;
  color: #5d5d5d;
}

.node-toolbar button {
  background-color: #6c9dff;
  color: white;
}

.node-toolbar input {
  max-width: 12em;
}

.context-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.container form div {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.container form button {
  background-color: #6c9dff;
  color: white;
}